@use "../variables.scss" as *;

$minHeight: 5rem;

.SearchBarContainer {
  width: 95vw;
  max-width: 50rem;
  min-height: $minHeight;
  background: $content;
  padding: 2rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchBarContainer > div {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchBarContainer > div input {
  background: none;
  border: 1px solid;
  border-radius: 10px;
  border-color: $borderLine;
  color: $text;
  padding: 1rem 0.5rem;

  width: 85%;
  height: 25%;

  transition: 0.3s linear;
  font-size: 1.2rem;
}

.SearchBarContainer > div input:focus {
  outline: none;
  border-color: $babyBlue;
}

.SearchBarContainer > div > svg {
  margin: -35px;
  cursor: pointer;
  transition: 0.8s linear;
}

@media (max-width: 720px) {
  .SearchBarContainer {
    width: 100vw;
    border-radius: 0;
    padding: 2rem 2rem;
  }

  .SearchBarContainer > div {
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0.5rem;
  }

  .SearchBarContainer > div input {
    background: none;
    border: 1px solid;
    border-radius: 10px;
    border-color: $borderLine;
    color: $text;

    width: 100%;
    height: 25%;

    transition: 0.3s linear;
    font-size: 1.2rem;
  }
}
