@use "../variables.scss" as *;

.SearchResultContainer {
  padding: 1.5rem;
  margin: 1.5rem 0;

  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;

  width: 30%;
  height: auto;

  display: flex;
  flex-direction: column;

  box-shadow: $background 1px 3px 10px;
  cursor: pointer;

  transition: 0.5s linear;
}

.SearchResultContainer:hover {
  box-shadow: $backgroundOpacity 0px 1.5px 5px;
  background: $backgroundOpacity;
}

.SearchResultContainer img {
  max-width: 5rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.61) 0px 1px 3px;
}

.SearchResultContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1.5rem;
}

.SearchResultContainer > div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.SearchResultContainer div:first-child {
  width: 100%;
  justify-content: flex-start;
  padding: 1rem 0rem;
}

.SearchResultContainer span {
  color: $title;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.SearchResultContainer h1 {
  color: $text;
  font-size: 1.1rem;
}

.SearchResultContainer h2 {
  color: $text;
  font-size: 1rem;
}

.SearchResultContainer > div div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  div {
    margin: 2px;
  }
}

.SearchResultContainer button {
  background: $button;
  padding: 0.35rem;
  outline: none;
  border: none;
  border-radius: 5px;

  color: $background;
  font-size: 1.1rem;
  font-weight: bold;

  transition: ease-out 1s;
}

.SearchResultContainer button:hover {
  background: $buttonHover;
}

@media (max-width: 720px) {
  .SearchResultContainer > div {
    width: auto;
  }

  .SearchResultContainer div:first-child {
    width: auto;
  }

  .SearchResultContainer > div div:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.5rem;
    padding-top: 1rem;

    div {
      padding: 0px;
      margin: 0px;
      width: auto;
    }
  }
}
